@import "./reset";


$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
$green-gradient: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
$nav-link-color: #e2f2eb;
$navbar-color: #005639;


button {
    border: none;
    outline: none;
    background-color: unset;
}


body {
    background-image: $green-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}


.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}


a {

    text-decoration: none;
  }
  
  a:hover {

  }
  
  a:active {

  }
  
  a:visited {

  }


.navbar {
    background-color: $navbar-color;
    display: flex;
    align-items: center;
    padding: 5px 0;
    max-width: 1920px;
    margin: auto;
    position: relative;
    height: 60px;
}

.navbar::before {
    display: none;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: -30px;
    border-left: 30px solid transparent;
    border-top: 60px solid $navbar-color;
}

.navbar::after {
    display: none;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
    border-right: 30px solid transparent;
    border-top: 60px solid $navbar-color;
}

.navbar-brand {
    color: $nav-link-color;
    font-weight: 600;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
}

.color-theme-btn {
    margin-left: auto;
}


.navbar-nav {
    display: flex;
}

.navbar-collapse {
    margin-left: auto;
    display: none;
}

.navbar-toggler {
    margin-right: auto;
}

.nav-item {
    .nav-link {
        color: $nav-link-color;
        min-width: 95px;
        display: inline-block;
        text-align: center;
        font-size: 21px;
    }
}



  @keyframes float {
    from {
      transform:translateY(0px) translateX(17px) rotate3d(0,0,1,3deg);
    }
  
    to {
       transform:scale(0.95) translateY(17px) translateX(0px) rotate3d(0,0,1,0deg);
    }
  }
  

  
  @keyframes move-hand {
    
    20%, 100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
   
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
  }
  
  
        .astro-holder {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: -100px;
        }


        .astro-bubble {
            display: inline-block;
            border: 1px solid white;
            padding: 20px 40px;
        }


  #AMHand {
    position:relative;
    animation-duration: 5s;
    animation-name: move-hand;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    transform-origin: center left;
  }
  
  
  #astronaut {
  /*   border: 1px solid red; */
    position:relative;
    animation-duration: 4s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    width: 40%;
    max-width: 160px;
    // top: -74px;
    // left: 5%;
  }





  .bar {
    width: 36px;
    height: 4px;
    background-color: #e2f2eb;
    transition: 0.5s;
    position: relative;
    }
    .hamburger_bar1{
          top: -7px;
    }
     .hamburger_bar2{
          top: 7px;
     }

      .click .hamburger_bar1 {
            transform: rotate(-45deg);
            top: 0;  
      }
      .click .hamburger_bar2{
            transform: rotate(45deg);
            top: 0;  
      }









 .color-theme-btn {

 }