html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  background-color: unset;
}

body {
  background-image: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #005639;
  display: flex;
  align-items: center;
  padding: 5px 0;
  max-width: 1920px;
  margin: auto;
  position: relative;
  height: 60px;
}

.navbar::before {
  display: none;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -122px;
  border-left: 122px solid transparent;
  border-top: 61px solid #005639;
}

.navbar::after {
  display: none;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: -130px;
  border-right: 130px solid transparent;
  border-top: 61px solid #005639;
}

.navbar-brand {
  color: #e2f2eb;
  font-weight: 600;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
}

.color-theme-btn {
  margin-left: auto;
}

.navbar-collapse {
  max-width: 0;
  opacity: 0;
  transform: scale(0);
  overflow-x: hidden;
}

.navbar-collapse.active {
  display: block;
  position: fixed;
  margin-left: unset;
  /* height: 100vh; */
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  max-width: 100%;
  opacity: 1;
  transform: scale(1);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  position: absolute;
  padding-top: 55px;
  min-width: 0;
  max-width: 0;
  overflow: hidden;
  transition: min-width 0.3s ease-out, max-width 0.4s ease;
}

.navbar-collapse.active .navbar-nav {
  max-width: 100%;
  min-width: 200px;
}

.nav-item .nav-link {
  color: #e2f2eb;
  min-width: 95px;
  display: inline-block;
  text-align: center;
  font-size: 21px;
}

@keyframes float {
  from {
    transform: translateY(0px) translateX(17px) rotate3d(0, 0, 1, 3deg);
  }
  to {
    transform: scale(0.95) translateY(17px) translateX(0px) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes move-hand {
  20%, 100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
}

.astro-blob {
  max-height: 125px;
}

.astro-holder {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
}

.astro-bubble {
  display: inline-block;
  background-color: #e2f2eb;
  padding: 20px 40px;
  border-radius: 5px;
  position: relative;
  margin-left: -5px;
  top: -55px;
  animation-duration: 4s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}

.astro-bubble::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent #e2f2eb;
  top: -14px;
  left: 15%;
  margin-left: -10px;
}

#AMHand {
  position: relative;
  animation-duration: 5s;
  animation-name: move-hand;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  transform-origin: center left;
}

#astronaut {
  /*   border: 1px solid red; */
  position: relative;
  animation-duration: 4s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  width: 40%;
  max-width: 160px;
}

.bar {
  width: 36px;
  height: 4px;
  background-color: #e2f2eb;
  transition: 0.5s;
  position: relative;
}

.navbar-toggler {
  margin-right: auto;
  height: 100%;
  cursor: pointer;
}

.navbar-toggler.click {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 60px;
}

.hamburger_bar1 {
  margin-bottom: 12px;
}

.click .hamburger_bar1 {
  margin-bottom: 0;
  transform: rotate(-45deg);
}

.click .hamburger_bar2 {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  body {
    background: lightblue;
  }
  .color-theme-btn {
    margin-left: unset;
  }
  .navbar-collapse, .navbar-collapse.active {
    display: block;
    opacity: 1;
    transform: scale(1);
    margin-left: auto;
    position: static;
    background-color: transparent;
    z-index: initial;
    max-width: unset;
  }
  .navbar-nav, .navbar-collapse.active .navbar-nav {
    flex-direction: row;
    background-color: transparent;
    height: unset;
    position: static;
    padding-top: initial;
    min-width: unset;
    max-width: unset;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-brand {
    margin-left: unset;
    margin-right: unset;
  }
}

@media (min-width: 1921px) {
  .navbar::before, .navbar::after {
    display: block;
  }
}

section {
  position: relative;
}

.firstSection::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -30px;
  left: 0;
  border-radius: 0 0 0 100%;
  z-index: 1;
}

.section-even {
  background-color: #005639;
}

h2 {
  color: white;
  text-align: center;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */