html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes float {
  from {
    transform: translateY(0px) translateX(17px) rotate3d(0, 0, 1, 3deg);
  }
  to {
    transform: scale(0.95) translateY(17px) translateX(0px) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes move-hand {
  20%,
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
}

@keyframes blinkColor {
  0% {
    fill: #161a2d;
  }
  60% {
    fill: #161a2d;
  }
  70% {
    fill: #4ece79;
  }
  86% {
    fill: #161a2d;
  }
  100% {
    fill: #4ece79;
  }
}

@keyframes changeText {
  0% {
    content: "Welcome friend...";
  }
  33% {
    content: "hope you are well...";
  }
  66% {
    content: "feel free to look around and...";
  }
  100% {
    content: "Have a nice stay!";
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
  background-color: unset;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn-standard {
  background-color: #58c054;
  padding: 7px 23px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
  min-width: 110px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-standard.github {
  background-color: #6a737d;
  min-width: 150px;
  margin-bottom: 15px;
}

.btn-standard.linkedin {
  background-color: #0a66c2;
  min-width: 150px;
  margin-bottom: 15px;
}

.btn-standard.email {
  background-color: transparent;
  border: 2px solid #58c054;
  min-width: 150px;
  margin-bottom: 25px;
}

.btn-standard:hover {
  background-color: #4aa846;
}

.body-before {
  width: 100%;
  max-width: 1920px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #161a2d;
}

.body-before::before {
  display: none;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -122px;
  border-left: 122px solid transparent;
  border-top: 61px solid #161a2d;
}

.body-before::after {
  display: none;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: -130px;
  border-right: 130px solid transparent;
  border-top: 61px solid #161a2d;
}

.color-theme-btn {
  margin-left: auto;
  padding-right: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 51px;
}

.color-theme-btn svg {
  flex: 1 0 100%;
  transition: all 1s ease-out;
}

.color-theme-btn svg.switch-moon {
  max-height: 100%;
  opacity: 1;
  margin-bottom: 15px;
}

.color-theme-btn svg.switch-sun {
  max-height: 0%;
  opacity: 0.2;
}

.color-theme-btn.sun svg.switch-moon {
  max-height: 0%;
  opacity: 0.2;
  margin-bottom: 0;
}

.color-theme-btn.sun svg.switch-sun {
  max-height: 100%;
  opacity: 1;
}

.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 5px 0;
  max-width: 1920px;
  margin: auto;
  position: fixed;
  height: 60px;
  z-index: 2;
  top: 0;
  width: 100%;
}

.navbar.transparent {
  background-color: rgba(22, 26, 45, 0.75);
}

.navbar-brand {
  color: #e2f2eb;
  font-weight: 600;
  font-size: 21px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar-collapse {
  max-width: 0;
  opacity: 0;
  transform: scale(0);
  overflow-x: hidden;
}

.navbar-collapse.active {
  display: block;
  position: fixed;
  margin-left: unset;
  /* height: 100vh; */
  background-color: rgba(108, 196, 67, 0.45);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  max-width: 100%;
  opacity: 1;
  transform: scale(1);
}

.navbar-collapse.active .navbar-nav {
  max-width: 100%;
  min-width: 200px;
  min-height: 410px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  background-color: #161a2d;
  height: 100%;
  position: absolute;
  padding-top: 55px;
  min-width: 0;
  max-width: 0;
  overflow: hidden;
  transition: min-width 0.2s ease-out, max-width 0.3s ease;
}

.navbar-nav img {
  position: absolute;
  bottom: 0;
  right: -88%;
  transform: translate(-50%, 44%) scaleX(-1);
  width: 100%;
}

.nav-item .nav-link {
  color: #e2f2eb;
  min-width: 95px;
  display: inline-block;
  font-size: 21px;
  padding: 8px;
  padding-left: 17px;
}

.nav-item .nav-link.current {
  color: #6cc444;
}

.st4.blink-color {
  animation: blinkColor ease-in;
  animation-iteration-count: infinite;
  animation-duration: 5.5s;
  animation-fill-mode: both;
}

.firstSection {
  min-height: calc(100vh - 90px);
}

.arrow-go-down {
  position: relative;
  width: 70px;
  margin: auto;
  transform: translateY(20px);
  z-index: 0;
}

.arrow-go-down a {
  display: block;
}

.arrow-go-down svg {
  fill: rgba(255, 255, 255, 0.2);
}

.arrow-go-down:hover svg {
  fill: rgba(255, 255, 255, 0.4);
}

.astro-blob {
  max-height: 125px;
}

.astro-holder {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
}

.astro-bubble {
  display: inline-block;
  background-color: #e2f2eb;
  padding: 20px 18px;
  border-radius: 10px;
  position: relative;
  margin-left: -5px;
  top: -55px;
  animation-duration: 4s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  width: 144px;
  min-height: 71px;
}

.astro-bubble::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent #e2f2eb;
  top: -14px;
  left: 15%;
  margin-left: -10px;
}

.astro-bubble span::after {
  content: "Welcome";
  animation: changeText 14s linear forwards;
}

#AMHand {
  position: relative;
  animation-duration: 5s;
  animation-name: move-hand;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  transform-origin: center left;
}

#astronaut {
  position: relative;
  animation-duration: 4s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  width: 40%;
  max-width: 160px;
}

.bar {
  width: 36px;
  height: 4px;
  background-color: #e2f2eb;
  transition: 0.5s;
  position: relative;
}

.navbar-toggler {
  margin-right: auto;
  height: 100%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 5px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.navbar-toggler.click {
  z-index: 10;
  position: fixed;
  transform: translateX(140px);
  top: 0;
  height: 60px;
}

.hamburger_bar1 {
  margin-bottom: 12px;
}

.click .hamburger_bar1 {
  margin-bottom: 0;
  transform: rotate(-45deg);
}

.click .hamburger_bar2 {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .color-theme-btn {
    margin-left: unset;
  }
  .navbar-collapse,
  .navbar-collapse.active {
    display: block;
    opacity: 1;
    transform: scale(1);
    margin-left: auto;
    position: static;
    background-color: transparent;
    z-index: initial;
    max-width: unset;
  }
  .navbar-nav,
  .navbar-collapse.active .navbar-nav {
    flex-direction: row;
    background-color: transparent;
    height: unset;
    position: static;
    padding-top: initial;
    min-width: 0;
    max-width: unset;
    min-height: 0;
  }
  .nav-item .nav-link {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse .navbar-nav img {
    display: none !important;
    opacity: 0;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-brand {
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1921px) {
  .navbar {
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar::before, .navbar::after {
    display: block;
  }
  .navbar.transparent::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(22, 26, 45, 0.75);
    border: none;
    width: 100%;
  }
  .navbar.transparent::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(22, 26, 45, 0.75);
    border: none;
    width: 100%;
  }
  .body-before::before,
  .body-before::after {
    display: block;
  }
}

section {
  position: relative;
  scroll-margin-top: 60px;
}

.section-even {
  background-color: #161a2d;
}

.section-after {
  height: 30px;
  width: 100%;
  background: #161a2d;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-after::before {
  content: "";
  height: 30px;
  width: 100%;
  background-image: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}

.section-even + .section-after::before {
  background: #161a2d;
}

.section-even + .section-after {
  background-image: linear-gradient(to right, #3fba64, #4abd5d, #55bf55, #61c24c, #6cc443);
}

h2 {
  color: white;
  text-align: center;
  font-size: 21px;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding-top: 15px;
}

p {
  color: white;
  letter-spacing: 0.018em;
  word-spacing: 0.105em;
}

p.my-text {
  width: 600px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  text-align: center;
}

p.my-text.bold {
  font-weight: 600;
  text-shadow: -1px 1px 3px rgba(22, 26, 45, 0.12);
}

p.quote {
  color: #e2e2e2;
  width: 600px;
  max-width: 90%;
  border-radius: 10px;
  border: 1px solid #535770;
  padding: 20px 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  position: relative;
}

p.quote::after {
  content: '"';
  position: absolute;
  color: #5aba38;
  right: 10px;
  top: 0;
  padding: 5px;
  background-color: #161a2d;
  display: flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: italic;
}

p.quote span {
  display: block;
  text-align: right;
  font-style: italic;
  color: #5aba38;
}

.section-container {
  display: flex;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  width: 100%;
  max-width: 400px;
}

.skill-description {
  width: 54%;
}

.skill-title {
  color: #ffffff;
}

.project-frame {
  width: 95%;
  max-width: 350px;
  margin-bottom: 15px;
}

.project-frame-inside {
  background-color: #161a2d;
  border-radius: 10px;
}

.project-galery {
  padding: 12px;
}

.project-galery img {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.project-description {
  position: relative;
  padding: 12px;
  overflow: hidden;
}

.project-description img {
  position: absolute;
  bottom: 0;
  right: -57%;
  transform: translate(-50%, 44%) scaleX(-1);
  width: 65%;
  opacity: 0.05;
  z-index: 0;
}

.project-ingridients {
  color: #58c054;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
}

.project-ingridients span:not(:last-of-type) {
  padding-right: 10px;
}

.project-title {
  font-size: 19.2px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-about {
  color: #f8f8f8;
  position: relative;
  z-index: 0;
  margin-bottom: 22px;
  min-height: 105px;
}

.project-about span {
  display: block;
  font-size: 14px;
  padding-bottom: 4px;
}

.project-buttons {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.project-buttons .btn-standard {
  width: 43%;
}

.planet-frame {
  width: 95%;
  max-width: 350px;
  margin-bottom: 15px;
}

.planet-frame:hover .skill-planet > img {
  animation: rotation 8s infinite linear;
}

.planet-frame.blue {
  border-color: #68d8f2;
}

.planet-frame.blue .planet-frame-top {
  border-color: #68d8f2;
}

.planet-frame.blue .skill-skills span {
  border-color: #3a90a7;
}

.planet-frame.green .planet-frame-bottom {
  border-color: #5aba38;
}

.planet-frame.green .planet-frame-top {
  border-color: #5aba38;
  background-image: linear-gradient(to right, #2d8856, transparent);
}

.planet-frame.green .skill-skills span {
  border-color: #2d8455;
}

.planet-frame.yellow .planet-frame-bottom {
  border-color: #ebd086;
}

.planet-frame.yellow .planet-frame-top {
  border-color: #ebd086;
  background-image: linear-gradient(to right, #dba440, transparent);
}

.planet-frame.yellow .skill-skills span {
  border-color: #dba440;
}

.planet-frame.gray .planet-frame-bottom {
  border-color: #b5b5b5;
}

.planet-frame.gray .planet-frame-top {
  border-color: #b5b5b5;
  background-image: linear-gradient(to right, #909090, transparent);
}

.planet-frame.gray .skill-skills span {
  border-color: #909090;
}

.planet-frame-bottom {
  border: 3px solid #68d8f2;
  border-radius: 0 0 10px 10px;
  position: relative;
  min-height: 250px;
  width: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-frame-top {
  text-align: center;
  border: 3px solid #68d8f2;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  height: 130px;
  width: 100%;
  background-image: linear-gradient(to right, #3b95ab, #32738e, #2b536f, #22354e, #161a2d);
}

.planet-frame-top > span {
  color: #ffffff;
  margin-top: 8px;
  display: inline-block;
  letter-spacing: 0.2em;
  text-shadow: -1px 1px 3px rgba(22, 26, 45, 0.5);
}

.skill-skills {
  position: relative;
  padding: 11px 5px 0 5px;
  text-align: center;
}

.skill-skills.skill-skills span {
  display: inline-block;
  border: 1px solid #3a90a7;
  padding: 3px 9px;
  margin-bottom: 5px;
  border-radius: 31px;
  color: #ffffff;
}

.skill-planet {
  background-color: #161a2d;
  width: 130px;
  max-width: 85%;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill-planet > img {
  width: 100%;
}

.astro-cat-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 160px;
}

.astro-cat-container > img {
  animation-duration: 4s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

hr.custom {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #58c054;
  width: 50px;
  margin-bottom: 35px;
}

.go {
  position: relative;
  cursor: pointer;
}

.go::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -2px;
  background: #6cc443;
  background: linear-gradient(90deg, transparent 0, #6cc443);
  height: 3px;
  width: 0;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.go:hover:after {
  width: 100%;
  width: calc(100% + 2px);
}

/* For non-natively-focusable elements. For natively focusable elements */
/* Use .visually-hidden:not(:focus):not(:active) */
.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
/*# sourceMappingURL=main.css.map */